<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Builder</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<header>
    <nav>
        <h2>CV-Builder</h2>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="features">Features</a></li>
            <li><a href="about">About</a></li>
            <li><a href="login">Login</a></li>
        </ul>
    </nav>
</header>

<section class="hero">

    <h1>Build Your Developer CV in Minutes.</h1>

    <p>
        Create beautiful CVs, showcase projects,
        highlight skills, and share your work with the world.
    </p>

    <a href="/login">
    <button class="primary">Get Started</button>
</a>

</section>

<section class="features">

    <h2>Why Choose Us?</h2>

    <div class="cards">

        <div class="card">
            <h3>📝 Easy Builder</h3>
            <p>Create your CV without designing.</p>
        </div>

        <div class="card">
            <h3>🎨 Themes</h3>
            <p>Choose from modern CV templates.</p>
        </div>

        <div class="card">
            <h3>⚡ Fast</h3>
            <p>Responsive and optimized for every device.</p>
        </div>

    </div>

</section>

<section class="cta">

    <h2>Ready to impress recruiters?</h2>

    <p>Create your CV today and share it anywhere.</p>


</section>

<footer>

    <p>© 2026 CV-Builder</p>

</footer>

</body>
</html>